@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}
.hero-3-bg-img{
background-image: url('./assets/images/svg/hero-3-bg.svg');
}
.hero-6-bg-img{
  background-image: url('./assets/images/png/hero-6-bg-img.png');
}